@font-face {
    font-family: 'plankregular';
    src: url('fonts/plank-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'resamitzregular';
    src: url('fonts/resamitz_0048-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#000;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.menu{
	display:block;
	width:70px;
	height:50px;
	/*background-color:#000;*/
	position:absolute;
	top:0;
	right:0;
	background-color: transparent;
	background-image: url(img/menu.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 65px 45px;
}

.svg .menu{
	background-image: url(img/svg/menu.svg);
}

.menu:hover,.menu.active{
	background-color:#888;
}

.options{
	position: absolute;
	top:50px;
	background-color:#000;
	height:0;
	width:100%;
	overflow:hidden;
	transition: height 0.4s;
}
.options.show{
	transition: height 0.4s;
	/*height:235px;*/
	height:312px;
}

.options .item{
	background-color:#222;
	height:60px;
	width:100%;
	padding:8px 0;
	border:1px solid #444;
	border-left:none;
	border-right:none;
}

.options .item label{
	background-color:transparent;
	display:block;
	width:100%;
	height:40px;
	float:left;
	color:#FFF;
	font-size:40px;
	padding:10px 10px 10px 90px;
	position:absolute;
}

.options .item label.long{
	font-size:32px;
}

.options .item input{
	color:#F00 !important;
}

/*.options .item label:after{
	content:"";
    display: inline-block;
    width: 45px;
    height: 45px;
	border:1px solid #888;
	background-color: #000;
}

.options .item input[type=checkbox]:checked{
	content:"\2713";
    display: inline-block;
    width: 45px;
    height: 45px;
	border:1px solid #888;
	background-color: #000;
	
}*/

.options .item.uv{
	background-image: url(img/uv.png);
	background-repeat:no-repeat;
	background-position: 10px center;
}

.svg .options .item.uv{
	background-image: url(img/svg/uv.svg);
}

.options .item.h24{
	background-image: url(img/24h.png);
	background-repeat:no-repeat;
	background-position: 10px center;
}

.svg .options .item.h24{
	background-image: url(img/svg/24h.svg);
}

.options .item.HRM{
	background-image: url(img/hrm.png);
	background-repeat:no-repeat;
	background-position: 10px center;
}

.svg .options .item.HRM{
	background-image: url(img/svg/hrm.svg);
}

.options .item.BIG{
	background-image: url(img/big.png);
	background-repeat:no-repeat;
	background-position: 10px center;
}

.svg .options .item.BIG{
	background-image: url(img/svg/big.svg);
}

#canvasMoon, #canvasSun{
	position:absolute;
	top:-1500px;
	z-index:100;
}